# ----------------------------------------------------------------------

style "editablecombobutton" = "entry" {
	xthickness = 3
	ythickness = 3
GtkWidget::focus_padding = 0


	engine "pixmap"
	{


		image
		{
			function		= BOX
			state			= NORMAL
			file			= "images/combobox_button_normal2.png"
			border			= { 0 ,4 , 4 ,4}
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "images/combobox_button_prelight2.png"
			border			= { 0 ,4 , 4 ,4}
			stretch			= TRUE
		}	
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= IN
			file			= "images/combobox_button_prelight2.png"
			border			= { 0 ,0 , 0 ,0}
			stretch			= TRUE
		}	
		image
		{
			function		= BOX
			state			= INSENSITIVE
			file			= "images/combobox_button_insensitive2.png"
			border			= { 0 ,0 , 0 ,0}
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			state			= ACTIVE
			file			= "images/combobox_button_active2.png"
			border			= { 0 ,0 , 0 ,0}
			stretch			= TRUE
		}
	} #engine
} #style



widget_class "*<GtkCombo>*"                 style "editablecombobutton"
widget_class "*.<GtkComboBox>.<GtkCellView><GtkButton>"   style "editablecombobutton"
widget_class "*<GtkComboBoxEntry>*"         style "editablecombobutton"
widget_class "*<GtkSpinButton>*"            style "editablecombobutton"


# ----------------------------------------------------------------------

style "entry"{

	xthickness = 0
	ythickness = 0
 GtkWidget::focus_padding = 0
   engine "pixmap"
   {

image
    {
      function		= SHADOW
      detail		= "entry"
      shadow		= IN
      recolorable	= FALSE
      file		= "images/text-entry.png"
      border		= { 6,6,6,6 }
      stretch		= TRUE
    }
image 
		{
			function		= FLAT_BOX
			recolorable     = TRUE
			shadow			= NONE
			state           = NORMAL
	      	detail          = "entry_bg"
			file            = "/images/spinentry.png"
			border			= {6,6,6,6 }
			stretch 		= TRUE  
     	}
   	image 
      	{
			function        = FLAT_BOX
			recolorable     = TRUE
			shadow			= NONE
			state           = INSENSITIVE
	      	detail          = "entry_bg"
			file            = "/images/spinentry.png"
			border			= {6,6,6,6 }
			stretch 		= TRUE          
		}
}}
class "GtkEntry"	                        style "entry"

class "GtkFrame"  				style "entry"

class "GtkEditable"				style "entry"

class "GtkPaned"       				style "entry"

widget_class "*Entry*Button*"                   style "entry"

# ----------------------------------------------------------------------

style "windowbg"
{
   engine "pixmap"
   {
        image
        {
                function = FLAT_BOX
		recolorable		= TRUE
                file = "images/bg.png"
                border = {0, 0, 0, 0}
		stretch = TRUE
        }
   }

}

class "GtkWindow" style "windowbg"
